<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/kids-11.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Bộ sưu tập cho bé</h1>
            <h3>Chúng tôi tự hào mang đến sự hài lòng và thoải mái cho mẹ và bé</h3>
            <br />
            <a [routerLink]="['/landing']" class="btn btn-outline-neutral btn-round">Khám phá ngay</a>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="">
            <div class="row">
                <div class="col-md-3 border-left">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="fa fa-truck" aria-hidden="true"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Giao hàng miễn phí</h4>
                            <p class="description">Cho đơn hàng trên 500k.</p>
                            <a [routerLink]="['/landing']" class="btn btn-link btn-danger">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 border-left">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-bulb-63"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Đảm bảo chất lượng</h4>
                            <p>Sản phẩm 100% Organic Cotton.</p>
                            <a [routerLink]="['/landing']" class="btn btn-link btn-danger">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 border-left">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="fa fa-tags" aria-hidden="true"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">An tâm mua sắm</h4>
                            <p>Đổi trả trong vòng 30 ngày.</p>
                            <a [routerLink]="['/landing']" class="btn btn-link btn-danger">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 border-left">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Cần tư vấn</h4>
                            <p>Số điện thoại : 09 6164 7071.</p>
                            <a [routerLink]="['/landing']" class="btn btn-link btn-danger">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="section section-grey text-center">
        <div class="news-collections">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title"><a [routerLink]="['/landing']" class="hyper-link">Sản phẩm mới</a></h2>
                    <h5 class="description">Cảm giác dễ chịu khi mặc vô cùng quan trọng, giúp con thoải mái vui chơi và học tập.</h5>
                </div>
            </div>
            <br /><br />
            <div class="row product-list pl-3 pr-3">
                <div class="col-md-4 item">
                    <div class="info">
                        <div class="img-product">
                            <img src="./assets/img/products/news-collections.PNG" alt="sản phẩm" width="100%" srcset="">
                        </div>
                        <div class="description">
                            <h4 class="info-title">Toàn bộ sản phẩm</h4>
                            <p class="description">Thoải mái mua sắm tại.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 item">
                    <div class="info">
                        <div class="img-product">
                            <img src="./assets/img/products/boy.jpg" alt="sản phẩm" width="100%" srcset="">
                        </div>
                        <div class="description">
                            <h4 class="info-title">299,000₫</h4>
                            <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                            <a [routerLink]="['/landing']" class="btn btn-link btn-danger">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 item">
                    <div class="info">
                        <div class="img-product">
                            <img src="./assets/img/products/boy1.jpg" alt="sản phẩm" width="100%" srcset="">
                        </div>
                        <div class="description">
                            <h4 class="info-title">299,000₫</h4>
                            <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                            <a [routerLink]="['/landing']" class="btn btn-link btn-danger">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 item">
                    <div class="info">
                        <div class="img-product">
                            <img src="./assets/img/products/boy2.jpg" alt="sản phẩm" width="100%" srcset="">
                        </div>
                        <div class="description">
                            <h4 class="info-title">299,000₫</h4>
                            <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                            <a [routerLink]="['/landing']" class="btn btn-link btn-danger">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 item">
                    <div class="info">
                        <div class="img-product">
                            <img src="./assets/img/products/boy3.png" alt="sản phẩm" width="100%" srcset="">
                        </div>
                        <div class="description">
                            <h4 class="info-title">299,000₫</h4>
                            <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                            <a [routerLink]="['/landing']" class="btn btn-link btn-danger">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 item">
                    <div class="info">
                        <div class="img-product">
                            <img src="./assets/img/products/boy4.jpg" alt="sản phẩm" width="100%" srcset="">
                        </div>
                        <div class="description">
                            <h4 class="info-title">299,000₫</h4>
                            <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                            <a [routerLink]="['/landing']" class="btn btn-link btn-danger">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 item">
                    <div class="info">
                        <div class="img-product">
                            <img src="./assets/img/products/boy5.jpg" alt="sản phẩm" width="100%" srcset="">
                        </div>
                        <div class="description">
                            <h4 class="info-title">299,000₫</h4>
                            <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                            <a [routerLink]="['/landing']" class="btn btn-link btn-danger">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 item">
                    <div class="info">
                        <div class="img-product">
                            <img src="./assets/img/products/girl.jpg" alt="sản phẩm" width="100%" srcset="">
                        </div>
                        <div class="description">
                            <h4 class="info-title">299,000₫</h4>
                            <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                            <a [routerLink]="['/landing']" class="btn btn-link btn-danger">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 item">
                    <div class="info">
                        <div class="img-product">
                            <img src="./assets/img/products/girl1.jpg" alt="sản phẩm" width="100%" srcset="">
                        </div>
                        <div class="description">
                            <h4 class="info-title">299,000₫</h4>
                            <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                            <a [routerLink]="['/landing']" class="btn btn-link btn-danger">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 item">
                    <div class="info">
                        <div class="img-product">
                            <img src="./assets/img/products/girl2.jpg" alt="sản phẩm" width="100%" srcset="">
                        </div>
                        <div class="description">
                            <h4 class="info-title">299,000₫</h4>
                            <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                            <a [routerLink]="['/landing']" class="btn btn-link btn-danger">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 item">
                    <div class="info">
                        <div class="img-product">
                            <img src="./assets/img/products/girl3.jpg" alt="sản phẩm" width="100%" srcset="">
                        </div>
                        <div class="description">
                            <h4 class="info-title">299,000₫</h4>
                            <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                            <a [routerLink]="['/landing']" class="btn btn-link btn-danger">Xem thêm</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="section p-0" id="carousel">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card page-carousel m-0">
                                    <ngb-carousel>
                                        <ng-template ngbSlide>
                                            <img src="./assets/img/products/baby1.jpeg" alt="Random first slide">
                                            <!-- <div class="carousel-caption">
                                                <p>Somewhere</p>
                                            </div> -->
                                        </ng-template>
                                        <ng-template ngbSlide>
                                            <img src="./assets/img/products/baby2.jpeg" alt="Random second slide">
                                        </ng-template>
                                        <ng-template ngbSlide>
                                            <img src="./assets/img/products/athome2.jpg" alt="Random third slide">
                                        </ng-template>
                                    </ngb-carousel>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="tim-title">
                        <h3>Đồ Bộ Mặc Nhà</h3>
                        <p>Thoải mái vận động, thấm hút mồ hôi</p>
                    </div>

                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <ngb-tabset [justify]="'center'">
                                <ngb-tab title="Thông tin">
                                    <ng-template ngbTabContent>
                                        <p>Một giấc ngủ ngon vô cùng quan trọng, giúp con tràn đầy năng lượng cho ngày mới để vui chơi và học tập. Đồ bộ mặc nhà Blue seven được thiết kể theo dáng trẻ em Việt Nam, chất liệu 95% cotton và 5% spandex mang lại
                                            cảm giác thoải mái cho bé khi vận động và mềm mại, nhẹ nhàng khi đi ngủ.</p>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab title="Chất liệu">
                                    <ng-template ngbTabContent>
                                        <p>Bộ đồ được làm bằng vải cao cấp. - 95% cotton thấm hút mồ hôi, thoáng mát. - 5% spandex co dãn tuyệt vời, thoài mái khi vận động, không bai rão.</p>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab title="Kích cỡ">
                                    <ng-template ngbTabContent>
                                        <p>Đồ bộ có size cho bé từ 4 tuổi đến 14 tuổi.</p>
                                    </ng-template>
                                </ngb-tab>
                            </ngb-tabset>
                            <a [routerLink]="['/landing']" class="btn btn-link btn-danger">Xem thêm</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="section section-grey">
        <div class="row shop-categories pl-3 pr-3">
            <div class="col-md-3 item">
                <div class="info">
                    <div class="img-category">
                        <img src="./assets/img/products/baby1.jpeg" alt="sản phẩm" width="100%" srcset="">
                    </div>
                    <div class="description">
                        <h4 class="info-title">Trẻ sơ sinh</h4>
                        <p>Giảm 30% mua bộ thứ 2</p>
                        <a [routerLink]="['/landing']"><button type="button" class="btn btn-outline-danger"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Mua ngay</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 item">
                <div class="info">
                    <div class="img-category">
                        <img src="./assets/img/products/boy5.jpg" alt="sản phẩm" width="100%" srcset="">
                    </div>
                    <div class="description">
                        <h4 class="info-title">Quần short bé trai</h4>
                        <p>Nắng hè rực rỡ</p>
                        <a [routerLink]="['/landing']"><button type="button" class="btn btn-outline-danger"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Mua ngay</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 item">
                <div class="info">
                    <div class="img-category">
                        <img src="./assets/img/products/shirt.jpg" alt="sản phẩm" width="100%" srcset="">
                    </div>
                    <div class="description">
                        <h4 class="info-title">Áo phông bé trai</h4>
                        <p>Phong cách</p>
                        <a [routerLink]="['/landing']"><button type="button" class="btn btn-outline-danger"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Mua ngay</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 item">
                <div class="info">
                    <div class="img-category">
                        <img src="./assets/img/products/dress.jpg" alt="sản phẩm" width="100%" srcset="">
                    </div>
                    <div class="description">
                        <h4 class="info-title">Váy đẹp cho bé gái</h4>
                        <p>Cùng bạn xuống phố</p>
                        <a [routerLink]="['/landing']"><button type="button" class="btn btn-outline-danger"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Mua ngay</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section text-center">
        <div class="news-collections">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title"><a [routerLink]="['/landing']" class="hyper-link">Sản phẩm bán chạy nhất</a></h2>
                    <h5 class="description">Mẹ ưa chọn bé ưa dùng cả nhà cùng vui.</h5>
                </div>
            </div>
            <br /><br />
            <div class="row product-list pl-3 pr-3">
                <div class="col-md-4 item">
                    <div class="info">
                        <div class="img-product">
                            <img src="./assets/img/products/best-seller.PNG" alt="sản phẩm" width="100%" srcset="">
                        </div>
                        <div class="description">
                            <h4 class="info-title">Toàn bộ sản phẩm</h4>
                            <p class="description">Thoải mái mua sắm tại.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 item">
                    <div class="info">
                        <div class="img-product">
                            <img src="./assets/img/products/boy.jpg" alt="sản phẩm" width="100%" srcset="">
                        </div>
                        <div class="description">
                            <h4 class="info-title">299,000₫</h4>
                            <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                            <a [routerLink]="['/landing']" class="btn btn-link btn-danger">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 item">
                    <div class="info">
                        <div class="img-product">
                            <img src="./assets/img/products/boy1.jpg" alt="sản phẩm" width="100%" srcset="">
                        </div>
                        <div class="description">
                            <h4 class="info-title">299,000₫</h4>
                            <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                            <a [routerLink]="['/landing']" class="btn btn-link btn-danger">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 item">
                    <div class="info">
                        <div class="img-product">
                            <img src="./assets/img/products/boy2.jpg" alt="sản phẩm" width="100%" srcset="">
                        </div>
                        <div class="description">
                            <h4 class="info-title">299,000₫</h4>
                            <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                            <a [routerLink]="['/landing']" class="btn btn-link btn-danger">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 item">
                    <div class="info">
                        <div class="img-product">
                            <img src="./assets/img/products/boy3.png" alt="sản phẩm" width="100%" srcset="">
                        </div>
                        <div class="description">
                            <h4 class="info-title">299,000₫</h4>
                            <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                            <a [routerLink]="['/landing']" class="btn btn-link btn-danger">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 item">
                    <div class="info">
                        <div class="img-product">
                            <img src="./assets/img/products/boy4.jpg" alt="sản phẩm" width="100%" srcset="">
                        </div>
                        <div class="description">
                            <h4 class="info-title">299,000₫</h4>
                            <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                            <a [routerLink]="['/landing']" class="btn btn-link btn-danger">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 item">
                    <div class="info">
                        <div class="img-product">
                            <img src="./assets/img/products/boy5.jpg" alt="sản phẩm" width="100%" srcset="">
                        </div>
                        <div class="description">
                            <h4 class="info-title">299,000₫</h4>
                            <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                            <a [routerLink]="['/landing']" class="btn btn-link btn-danger">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 item">
                    <div class="info">
                        <div class="img-product">
                            <img src="./assets/img/products/girl.jpg" alt="sản phẩm" width="100%" srcset="">
                        </div>
                        <div class="description">
                            <h4 class="info-title">299,000₫</h4>
                            <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                            <a [routerLink]="['/landing']" class="btn btn-link btn-danger">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 item">
                    <div class="info">
                        <div class="img-product">
                            <img src="./assets/img/products/girl1.jpg" alt="sản phẩm" width="100%" srcset="">
                        </div>
                        <div class="description">
                            <h4 class="info-title">299,000₫</h4>
                            <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                            <a [routerLink]="['/landing']" class="btn btn-link btn-danger">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 item">
                    <div class="info">
                        <div class="img-product">
                            <img src="./assets/img/products/girl2.jpg" alt="sản phẩm" width="100%" srcset="">
                        </div>
                        <div class="description">
                            <h4 class="info-title">299,000₫</h4>
                            <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                            <a [routerLink]="['/landing']" class="btn btn-link btn-danger">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 item">
                    <div class="info">
                        <div class="img-product">
                            <img src="./assets/img/products/girl3.jpg" alt="sản phẩm" width="100%" srcset="">
                        </div>
                        <div class="description">
                            <h4 class="info-title">299,000₫</h4>
                            <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                            <a [routerLink]="['/landing']" class="btn btn-link btn-danger">Xem thêm</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="section section-grey text-center">
        <div class="row s-message pl-3 pr-3">
            <div class="col-md-6 item">
                <div class="info" style="margin-top: 70px;">
                    <div class="description">
                        <h4 class="info-title">SammyKids - Hơn Cả Mong Đợi</h4>
                        <p>Với nhiều người, quần áo trẻ em không quá quan trọng, nhưng với chúng tôi, đấy là công sức làm việc mệt mài cộng với tình yêu vô cùng lớn đối với trẻ em. Để bé mặc lên không chỉ đẹp mà còn rất đem lại cảm giác rất thoải mái, dễ
                            chịu. ""Hơn cả mong đợi" là điều mà Bluekids muốn khách hàng cảm nhận được.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 item">
                <div class="info">
                    <div class="img-message">
                        <img src="./assets/img/products/babyandkids.jpg" alt="sản phẩm" width="100%" srcset="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button onclick="topFunction()" id="myBtn" title="Lên đầu trang" class="scroll-to-top hide"><i class="fa fa-angle-up" aria-hidden="true"></i></button>

<script>
    function topFunction() {
        $('body,html').animate({
            scrollTop: 0
        }, 800);
    }
</script>